<% cover_file_field_id = 'new-cover-file-upload' %>

<div class="card">

  <%= bootstrap_card_header(t('.cover')) %>

  <div class="card-body text-center">

    <%= form.fields_for :cover do |cover| %>

      <div class="cover-uploader pt-2 pl-2 pr-2 col">

        <%=cover.file_field(:image, accept: "image/*", id: cover_file_field_id, required: true, direct_upload: true ) %>

        <label for="<%= cover_file_field_id %>" id="file-for-cover-drag">
          <div id="cover-image-preview-panel">
            <img id="file-for-image-preview" src="#" alt="Preview" class="file-for-image-preview hidden">
          </div>

          <div id="instruction-upload-cover-panel" class="pl-2">
            <div id="choose-image-start" class="file_selection_section">
              <% if model.new_record? %>
                <i class="fa fa-download" aria-hidden="true"></i>
                <div>Select a file or drag here</div>
                <div id="not-image-file" class="not-correct-file-type hidden">Please select an image file</div>
                <span id="cover-file-upload-btn" class="btn btn-primary"><%= t('.choose_image_file') %></span>
              <% else %>
                <div id="not-image-file" class="not-correct-file-type hidden pt-5">Please select an image file</div>
                <div class="pt-5">
                  <span id="cover-file-upload-btn" class="btn btn-dark"><%= t('.replace_image_file') %></span>
                </div>
              <% end %>
            </div>
            <div id="file-for-image-response" class="response hidden">
              <div id="image-upload-messages"></div>
              <progress class="progress" id="cover-file-upload-progress" max="100" value="0">
                <span>0</span>%
              </progress>
            </div>
          </div>
        </label>
      </div>
    <% end %>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		manageUpload(
				'<%= cover_file_field_id %>',
				'file-for-cover-drag',
				'cover-file-upload-progress',
				'image-upload-messages',
				parseImageFile
		);

		<% unless model.new_record? %>
		$("#cover-image-preview-panel").css( { "background-image": "url('<%= rails_blob_url(model.cover.image) %>')" } );
		$("#cover-file-upload-btn").css( { "margin-top": "40px" } );
		<% end %>
	});
</script>
