<div class="section accent">
  <div class="w-container">

    <div class="row">
      <div class="col-8 offset-2 card p-0">
        <div class="card-body">

          <h2 class="section-heading centered white"><%= t('.panel_title') %></h2>
          <div class="row">

            <div class="col">

              <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

                <%= devise_error_messages! %>

                <div class="col centered form-row pb-3">
                  <%= f.text_field :email,
                                   :autofocus => true,
                                   class: 'form-control-yams w-100',
                                   placeholder: "Email",
                                   autocomplete: "email",
                                   value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                </div>

                <%= bootstrap_submit(form: f, text: t('.submit')) %>

              <% end %>
            </div>
          </div>
        </div>

        <div class="row pt-4 pb-4">
          <div class="col-8 text-left pl-4">
            <%= render "devise/shared/links" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
