<div class="section accent">
  <div class="w-container">

    <div class="row">
      <div class="col-8 offset-2 card p-0">
        <div class="card-body">

          <h2 class="section-heading centered white  mt-2 mb-2"><%= t('.panel_title') %></h2>

          <div class="row">
            <div class="col-6 offset-3 ">
              <%= devise_error_messages! %>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form") do |f| %>

                <div class="col centered form-row pb-2 px-0">
                  <%= f.text_field :name, :autofocus => true, class: 'form-control-yams w-100', placeholder: "Name" %>
                </div>

                <div class="col centered form-row pb-2 px-0">
                  <%= f.email_field :email, class: 'form-control-yams w-100', placeholder: "Email Address" %>
                </div>

                <div class="col centered form-row pb-2 px-0">
                  <%= f.password_field :password, class: 'form-control-yams w-100', placeholder: "Password" %>
                </div>

                <div class="col centered form-row pb-2 px-0">
                  <%= f.password_field :password_confirmation, class: 'form-control-yams w-100', placeholder: "Password confirmation" %>
                </div>

                <div class="row pull-right pt-2">
                  <%= bootstrap_submit(form: f, text: t('.submit')) %>
                </div>


              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col text-center pt-4 pb-4">
            <span class="text-question pb-1">By clicking '<%= t('.submit') %>' you agree to our <%= link_to t('terms.link'), page_path(:terms) %></span>
            <div class="text-question">Already have an account? <%= link_to t(:sign_in, scope: :global), yams_core.new_user_session_path, class: 'sign-up' %></div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
