<% # The JS needs to access the LIST index (not Rails DB Id) hence track_counter %>

<li id="track-<%= track_counter %>" onclick="datashift_audio_playlist_onclick_handler(this)" >

  <div class="col-1 image-wrapper">
    <%= image_tag(rails_blob_path(track.cover_image, only_path: true), width: '80px', class: "thumbnail") %>
  </div>

  <% if current_user %>
    <div class="col-3 p-0 m-0 datashift-audio-track-details">
      <%= link_to(track.artist_name, yams_core.artist_path(track.artist), class: "datashift-audio-full-name") %>
    </div>
    <div class="col-3 p-0 m-0 datashift-audio-track-details">
      <%= link_to(track.title, yams_core.track_path(track), class: "datashift-audio-track-title") %>
    </div>
  <% else %>
    <div class="col-3 p-0 m-0 datashift-audio-track-details"><%= track.artist_name %></div>
    <div class="col-3 p-0 m-0 datashift-audio-track-details"><%= track.title %></div>
  <% end %>

  <div class="col-1 text-center">
    <%= track.created_at.to_s(:track_display) %>
  </div>
  <div class="col-1 text-center">
    <%= track.display_duration %>
  </div>
  <div class="col-1">
    <%= render partial: 'yams_core/shared/tag_list', locals: { tag_list: track.tag_list } %>
  </div>

  <div class="align-middle pull-right">
    <div class="pull-right">
      <% if track.download? %>
        <%#= button_tag "Download", id: "track-download-link-#{track_counter}", class: "btn btn-download-track pull-right text-small", onclick: "order_download_track(#{track.id})" %>

        <form method="POST" action="https://btcpay.yams.fm:444/api/v1/invoices" class="btcpay-form btcpay-form--block py-0">
          <input type="hidden" name="storeId" value="<%= ENV['YAMS_BTCPAY_DEFAULT_STORE'] %>" />
          <input type="hidden" name="checkoutDesc" value="Purchase <%= track.title %> by <%= track.artist_name %> for  Download" />
          <input type="hidden" name="currency" value="BTC " />
          <input type="hidden" name="price" value="10" />
          <input type="hidden" name="currency" value="USD" />
          <input type="hidden" name="OrderId" value="TOM-123-<%= track.title %>" />
          <input type="submit" name="submit" value="Download" class="btn btn-download-track pull-right text-small">
        </form>
      <% end %>
    </div>
  </div>

</li>
