<% # The JS needs to access the LIST index (not Rails DB Id) hence track_counter %>

<li id="track-<%= track_counter %>" onclick="datashift_audio_playlist_onclick_handler(this)" >

  <div class="col-1 image-wrapper">
    <%= image_tag(rails_blob_path(track.cover_image, only_path: true), width: '80px', class: "thumbnail") %>
  </div>

  <% if current_user %>
    <div class="col-3 p-0 m-0 datashift-audio-track-details">
      <%= link_to(track.artist_name, yams_core.artist_path(track.artist), class: "datashift-audio-full-name") %>
    </div>
    <div class="col-3 p-0 m-0 datashift-audio-track-details">
      <%= link_to(track.title, yams_core.track_path(track), class: "datashift-audio-track-title") %>
    </div>
  <% else %>
    <div class="col-3 p-0 m-0 datashift-audio-track-details"><%= track.artist_name %></div>
    <div class="col-3 p-0 m-0 datashift-audio-track-details"><%= track.title %></div>
  <% end %>

  <div class="col-1">
    <%= track.created_at.to_s(:track_display) %>
  </div>
  <div class="col-1">
    <div class="p-0"><%= track.display_duration %></div>
  </div>
  <div class="col-1">
    <% track.tag_list.each do |t| %><div class="article-info-text tag"><%= t %></div><% end %>
  </div>

  <div>
    <div class="pull-right">
      <% if track.download? %>
        <%= button_tag "Download", id: "track-download-link-#{track_counter}", class: "btn btn-download-track pull-right text-small", onclick: "order_download_track(#{track.id})" %>
      <% end %>
    </div>
  </div>

</li>
