<% presenter = YamsAudio::TrackPresenter.new(track: sortable_with_track.track) %>

<tr id="<%= "#{owner.id}-#{presenter.sortable_id}" %>" class="sortable_tracks_row p-0">
  <td> <%= icon_tag('icon-list') %></td>
  <td><%= presenter.cover_image_tag(size: :thumb, options: { css: "avatar rounded avatar-sm" } ) %></td>
  <td>
    <%= link_to presenter.title, edit_polymorphic_path(sortable_with_track.track) %>
  </td>
  <td>

    <% path = polymorphic_path(sortable_with_track) %>

    <%= link_to icon_tag('icon-circle-with-cross'), path,
                method: :delete,
                remote: true,
                id: "delete-icon-#{sortable_with_track.class}-#{sortable_with_track.id}",
                data: { confirm: I18n.t('.remove', scope: :yams_core, removal: sortable_with_track.class.name.demodulize.underscore.humanize) }
    %>


  </td>
</tr>
