<table class="table mt-2 pb-0">
  <tbody class="sortable" id="target-for-track-drop-insertion-point-<%= owner.id %>">  <!-- sortable target and insertion point -->
  <% sortable.each do |at| %>

    <% presenter = YamsCore::TrackPresenter.new(at.track, self) %>

    <tr id="<%= "#{owner.id}-#{presenter.sortable_id}" %>" class="sortable_tracks_row p-0">
      <td> <%= icon_tag('icon-list') %></td>
      <td><%= presenter.cover_image_tag(size: :thumb, css: "avatar rounded avatar-sm" ) %></td>
      <td>
        <%= link_to presenter.title, edit_polymorphic_path(at.track) %>
      </td>
      <td>
        <%= link_to icon_tag('icon-circle-with-cross'),  polymorphic_path(at),
                    method: :delete,
                    remote: true,
                    id: "delete-icon-#{at.class}-#{at.id}",
                    data: { confirm: I18n.t('.remove', scope: :yams_core, removal: at.class.name.demodulize.underscore.humanize) }
        %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
