<% file_field_id = 'new-track-file-upload' %>

<div class="row">
  <div class="col-8 offset-2">
    <%= form_with model: [@track], url: yams_core.tracks_path, method: :post, id: 'file-upload-form', local: true do |f| %>

      <div class="card card-outline-secondary">

        <%= bootstrap_card_header( t(".card-header") ) %>

        <div class="card-body pb-2">
          <div class="row">
            <div class="col-7 pl-4">
              <%= render 'yams_core/shared/errors', model: @track %>

              <div class="form-group">
                <%= f.label t('.title') %>
                <%= f.text_field :title, id: "file-upload-title", autofocus: true, class: 'form-control-yams col-12', required: true %>
              </div>

              <div class="form-group">
                <%= f.label t('.description') %>
                <%= f.text_area(:description, cols: 20, rows: 3, :autofocus => true, class: 'form-control-yams') %>
              </div>

              <div class="form-group uploader col-12">
                <% if !@track.new_record? && @track.audio.try(:filename) %>
                  <p>Replace : <%= @track.audio.filename %></p>
                <% end %>

                <%= f.file_field(:audio, accept: "audio/*", id: file_field_id, required: true, direct_upload: true ) %>

                <label for="<%= file_field_id %>" id="file-for-track-drag" class="form-control-yams">
                  <div id="start" class="file_selection_section pt-4">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div>Select a file or drag here</div>
                    <div id="not-audio-file" class="not-correct-file-type hidden">Please select an audio file</div>
                    <span id="file-upload-btn" class="btn btn-primary"><%= t('.choose_audio_file') %></span>
                  </div>
                  <div id="file-for-track-response" class="response hidden">
                    <div id="track-upload-messages"></div>
                    <progress class="progress" id="track-direct-upload-progress" max="100" value="0">
                      <div>0</div>%
                    </progress>
                  </div>
                </label>
              </div>
            </div>

            <div class="col-4">
              <%= render partial: 'yams_core/shared/choose_cover', locals: { form: f, model: @track } %>
            </div>
          </div>

          <div class="row">
            <div class="col-7 pl-4">
              <%= render partial: 'yams_core/shared/edit_tag_list', locals: { form: f, model: @track } %>
            </div>
          </div>

          <%= render partial: 'permissions', locals: { form: f } %>

          <div class="pt-4">
            <%= bootstrap_submit(form: f, text: t('.submit')) %>
          </div>

        </div>

      </div>

    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		manageUpload(
				'<%= file_field_id %>',
				'file-for-track-drag',
				'track-direct-upload-progress',
				'track-upload-messages',
				parseAudioFile
		);
	});
</script>