<div id="show-track-<%= @track.id %>" class="row pl-4 pt-4">
  <div class="col-6">

    <div class="card m-0 p-0">

      <%= bootstrap_card_header( 'details' ) %>

      <div class="card-body show-track pt-4">

        <% details = { t(:artist, scope: :global) => link_to(@track.artist_name, yams_core.artist_path(@track.artist)),
                       'Uploaded' => @track.created_at.to_s(:short) ,
                       'Description' => @track.description,
                       'Tags'  => raw('<div class="tag-list">' + @track.tag_list.collect { |t| "#{t}" }.join(',') + ' </div>'  ),
                       'TODO' => "Ratings, Comments, Likes etc"
        } %>

        <% details.each do |k, v| %>
          <div class="row">
            <div class="col-3"><div class="article-info-text"><%= k %> :</div></div>
            <div class="col-9"><%= v %></div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% content_for :audio_player_in_navbar  do %>
  <%= render(partial: 'yams_audio_engine/shared/player_in_navbar',  locals: { yams_audio_json: @yams_audio_json } ) %>
<% end %>
