<% accordion = "album-track-manager-#{album_presenter.id}" %>

<div class="row">
  <div class="col p-0">
    <div class="card mx-0">

      <div class="card-header-light col-12">
        <div class="row">
          <div class="col-1 pl-0"><%= album_presenter.bootstrap_actions_dropdown %></div>

          <div class="col-2"><%= album_presenter.cover_image_tag %></div>

          <div class="col"><h5 class="album-track"><%= album_presenter.title %></h5></div>

          <a data-toggle="collapse" href="#<%= accordion %>" aria-expanded="true">
            <div class="col pt-1 pr-0"><i class="icon-chevron-small-right"></i></div>
          </a>
        </div>
      </div>

      <div class="card-header-drag-drop" ondrop="return false;">
        <ul id="album-track-drop-zone-<%= album_presenter.id %>" data-album-id="<%= album_presenter.id %>" ondrop="drop(event, this)" ondragover="allowDrop(event)">
          <h6 class="text-white"><%= t('global.drop_tracks') %></h6>
        </ul>
      </div>

      <!-- ALBUM TRACKS -->
      <div class="card-body">
        <div id="<%= accordion %>" class="collapse show col-12 album-track" role="tabpanel">
          <div class="show-track-album-dropzone">
            <%= render partial: 'yams_core/track/tracks/sortable_tracks_table', locals: {
                owner: album_presenter,
                sortable: album_presenter.album_tracks
            } %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
