<% remote = local_assigns[:remote].present? ? local_assigns[:remote] : true %>
<% method = local_assigns[:method].present? ? local_assigns[:method] : :post %>

<% url = local_assigns[:url].present? ? url : yams_core.playlists_path %>

<%= form_with(model: playlist, url: url, method: method, remote: remote) do |f| %>

  <%= render 'yams_core/shared/errors', model: playlist %>

  <div class="row pt-2">
    <div class="col">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name,  id: :playlist_name, class: "col" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render partial: 'yams_core/shared/edit_tag_list', locals: { form: f, model: playlist } %>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <%= bootstrap_submit(form: f, text: t(".#{params[:action]}.submit"), css: 'btn btn-block') %>
    </div>
  </div>

  <%= yield :playlist_form_extras %>

<% end %>
