<div id="index-playlist-playlists" class="media row">

  <div class="accordion-item playlist-track col-4">
    <div class="card card-sm col p-0">
      <%= bootstrap_card_header( t(:playlists, scope: :global)) %>
    </div>

    <ul id="playlist-index" class="striped-list list-group list-group-flush">
      <% @playlists.each do |playlist| %>

        <li id="playlist_row_<%= playlist.id %>">
          <% playlist = YamsCore::PlaylistPresenter.new(playlist, self) %>
          <div class="media align-items-center">
            <div class="accordion-item playlist-track col-12">
              <div class="card card-sm ml-2 mr-2">
                <div class="card-header col-12">
                  <div class="row">
                    <div class="col-2">
                      <%= playlist.cover_image_tag %>
                    </div>
                    <div class="col">
                      <%= link_to(playlist.name, yams_core.playlist_url(playlist, format: :json), id: "select_playlist_row_#{playlist.id}") %>

                      <script type="text/javascript" charset="utf-8">
                          $('#<%= "select_playlist_row_#{playlist.id}" %>').click(function (event) {
                              event.preventDefault(); // Prevent link from following its href

                              $.ajax({
                                  type: 'GET',
                                  url: '<%= url_for(yams_core.playlist_url(playlist)) %>',
                                  dataType: "script"
                              });
                          });
                      </script>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- datashift audio JS insertion point, for rendering playlist of currently selected list -->
  <div id="datashift-audio-playlist-wrapper" class="col-8 pt-2">
    <div class="text-center pb-2"><h5 id="current-playlist-header"><%= @playlists.first.try(:name) %></h5></div>
    <div id="datashift-audio-playlist" class="col-12">
    </div>
  </div>

</div>

<script type="text/javascript" charset="utf-8">

    $('#navbar-audio-player-insertion-point').html("<%= j render(partial: 'datashift_audio_engine/shared/player_in_navbar',
                                                                 locals: { datashift_audio_setup_json: @datashift_audio_json } ) %>");

    /* Render Playlist - Pass in this content block containing our desired playlist layout and styling */
    <% content_for :datashift_audio_track_listing do %>
      <%= render partial: 'yams_core/track/tracks/as_single_list_item.html', collection: @tracks, as: :track %>
    <% end %>

    $('#datashift-audio-playlist').html("<%= j render(partial: 'datashift_audio_engine/shared/track_playlist.html') %>");
</script>
