<% content_for :audio_player_in_navbar do %>
  <%= turbo_frame_tag "yams-player-in-navbar" do %>
    <%= render partial: 'yams_audio/shared/player', locals: { track: @track } %>
  <% end %>
<% end %>

<div class="row" data-controller="yams-playlists">
  <div id="playlist-sidebar-index" class="sidebar-listing col-3 sidebar">

    <div class="card">
      <%= bootstrap_card_header( t(:playlists, scope: :global)) %>

      <div class="card-body">
        <ul>
          <% @playlists.each do |playlist| %>
            <li id="playlist_row_<%= playlist.id %>" class="mt-4">
              <div class="row align-middle">
                <div class="col-2">
                  <%= playlist.cover_image_tag %>
                </div>
                <div class="col-10 pt-3">
                  <%= link_to playlist.name, yams_core.playlist_url(playlist), 'data-turbo-frame': "yams-selected-playlist-track-listing" %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div> <!-- end playlist column -->

  <div id="yams-audio-playlist-wrapper" class="col-9">
    <%= render partial: 'show.html' %>
  </div>

</div>
