<div class="col-6 offset-3 ">

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="login col-9">
    <h2 class="section-heading centered white mb-5"><%= t('.panel_title') %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>

      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'text' %>
      <span>username</span>
      <br>
      <br>
      <%= f.password_field :password, autocomplete: "off", class: 'text' %>
      <span>password</span>
      <br>

      <% if false && devise_mapping.rememberable? -%>
        <div class="col form-row pb-3 px-0">
          <div class="col-1 pl-0 pull-left">
            <%= f.check_box :remember_me, class: 'form-control-yams pull-left' %>
          </div>
          <div class="col-10 pl-1 text-small">
            Remember me on this computer
          </div>
        </div>
      <% end -%>

      <%= f.submit( I18n.t(:sign_in, scope: :global), class: 'signin', data: { disable_with: false }) %>

    <% end %>
  </div>
</div>

<div class="col-6 offset-3 sign_up text-left mt-5">
  <%= link_to t(:need_sign_up, scope: :global), yams_core.new_user_registration_path %>
  <br>
  <%= render "devise/shared/links" %>
</div>
