<div id="show-artist-<%= @artist.id %>">
  <div class="col-9">

    <div class="card m-0 p-0">

      <div class="card-header">
        <div class="row">
          <div class="col-3">
            <%= image_tag(main_app.rails_blob_url(@artist.avatar_image), class: 'img-fluid rounded') %>
          </div>
          <div class="col-7 pt-3">
            <h5 class="align-middle pb-2"><%= @artist.name %></h5>

            <div class="row py-1">
              <span class="text-light"><%= @artist.permalink_url %></span>
            </div>

            <div class="row pb-1">City: <span class="text-light"><%= @artist.city %></span></div>
            <div class="row rowpb-1">Country: <span class="text-light"><%= @artist.country %></span></div>
            <div class="row py-1"><span class="text-light"><%= @artist.bio %></span></div>

          </div>

          <% if current_user.id == @artist.id %>
            <div class="col-2">
              <%= link_to icon_tag('icon-pencil'), yams_core.edit_user_registration_path(@artist), class: 'icon_tag  pull-right ' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card-body">
        <div class="card-header pt-4">
          <h5><%= t(:discography, scope: :global) %></h5>
        </div>

        <!-- JS insertion point, for rendering track listing of  Artist -->
        <div id="datashift-audio-playlist"></div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
	<%= render(partial: 'create_playlist.js') %>
</script>

<% content_for :audio_player_in_navbar  do %>
  <%= render(partial: 'datashift_audio_engine/shared/player_in_navbar',  locals: { datashift_audio_setup_json: @datashift_audio_json } ) %>
<% end %>
