<% remote = local_assigns[:remote].present? ? local_assigns[:remote] : true %>
<% method = local_assigns[:method].present? ? local_assigns[:method] : :post %>

<% url = local_assigns[:url].present? ? url : yams_core.albums_path %>

<%= form_with(model: album, url: url, method: method, remote: remote) do |f| %>

  <%= render 'yams_core/shared/errors', model: album %>

  <div class="row pt-2">
    <div class="col">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title,  id: :album_title, class: "col" %>
      </div>
    </div>
  </div>

  <div  class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, id: :album_description, class: "col" %>
      </div>
    </div>
  </div>

  <div  class="row">
    <div class="col">
      <%= render partial: 'yams_core/shared/edit_tag_list', locals: { form: f, model: album } %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label t('.state') %> :
        <%= f.collection_radio_buttons(:published_state, YamsCore::Album.published_states, :first, :first,) do |b| %>
          <%= b.label { b.radio_button + " " + b.text } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <%= bootstrap_submit(form: f, text: t(".#{params[:action]}.submit"), css: 'btn btn-block') %>
    </div>
  </div>

  <%= yield :album_form_extras %>

<% end %>
