<div class="row">
  <div id="future_possible-menu" class="col-2"></div>
  <div class="col-8">
    <!-- Following is filled with inner track data via 'yams_core/tracks/playlist.html.erb' -->
    <%= render partial: 'datashift_audio_engine/shared/track_playlist'  %>
  </div>
</div>

<div id="navbar-audio-play-list-insertion-point'"></div>

$('#navbar-audio-player-insertion-point').html("<%= j render(partial: 'datashift_audio_engine/shared/player_in_navbar') %>");

$(document).ready(function(){
datashift_audio_engine.init_player('<%= raw @player_settings.to_json %>');
datashift_audio_engine.load('<%= load_url %>');
});


<script>
    $.ajax({
        type: 'POST',
        url:  '<%= url_for(datashift_audio_engine.player_in_nav_bars_path) %>',
        dataType: "script",
        data: {
            target_element: '#navbar-audio-player-insertion-point',
            play_list_target_element: '#navbar-audio-play-list-insertion-point',
            player_settings: '<%= raw @datashift_audio_json_settings %>',
            load_url: '<%= yams_core.radio_index_url(format: :json) %>'
        }
    });
</script>

